<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
  {% include "components/header.njk" %}

  <main class="content">
    {{ content | safe }}
  </main>

  <button id="music-btn">▶ Play music</button>

<audio id="bg-music" loop>
  <source src="/audio/Hazelwood - Coming Of Age.mp3" type="audio/mpeg">
</audio>

  <script src="/js/hero-scroll.js" defer></script>
  <script src="/js/audio.js" defer></script>
</body>
</html>
